button{
    background: none;
  border: 2px solid;
  border:gray;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}
button:hover{
  border:gray;
  animation:example;
  animation-duration: 1s;
  background-color: yellow;transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em orange;
}
@keyframes example {
    from {background-color: none;}
    to {background-color: yellow;transform: translateY(-0.25em);  box-shadow: 0 0.5em 0.5em -0.4em orange;}
  }
.offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);